<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="form-container">
  <div class="field">
    <%= f.text_field :url, size: "60", placeholder: "Youtube URL", :id => "url-text-field" %>
  </div>
  <div class="field">
    <ul class="genre-list">
      <% Song.all_genres.each do |genre| %>
        <li>
          <%= f.label "genres[#{genre}]", genre.humanize, :class => "genre-label" %>
          <%= f.radio_button :genre, genre, :checked => (!@song.genre.nil? && @song.genre.include?(genre)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="field">
    <%= f.text_field :min, size: "2", placeholder: "min", value: @min, :class => "time-text-field" %>
    :
    <%= f.text_field :sec, size: "2", placeholder: "sec", value: @sec, :class => "time-text-field" %>
  </div>
  <div class="actions">
    <%= f.submit 'ADD YOUR DROP', :class=>"add-song-button" %>
  </div>
<% end %>
</div>
