<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, size: "60" %>
  </div>
  <div class="field">
    <% Song.all_genres.each do |genre| %>
      <%= radio_button_tag :genre, genre, !@song.genre.nil? && @song.genre.include?(genre) %>
      <%= genre.humanize %>
    <% end %>
  </div>
  <div class="field">
    <% @min ||= "min" %>
    <% @sec ||= "sec" %>
    <%= f.text_field :min, size: "2", value: @min %>
    :
    <%= f.text_field :sec, size: "2", value: @sec %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
