<%= form_tag songs_path, :method => :get, :id => "genres_form" do %>
  <% @all_genres.each do |genre| %>
    <%= label_tag(genre) %>
    <%= check_box_tag("genres[#{genre}]", 1, @selected_genres.include?(genre)) %>
  <% end %>
  <%= submit_tag("Show me the DROP") %>
<% end %>
<h2><%= get_youtube_title(@url) %></h2> 
<%= youtube_video @url %>
 
<br />
<%= link_to 'New song!', new_song_path %>
<%= link_to 'Dead link?', @random_song, confirm: 'Are you sure?', method: :delete %>