<%= form_tag songs_path, :method => :get, :id => "genre-form" do %>
  <% @all_genres.each do |genre| %>
  <label>
    <%= label_tag genre %>
    <%= check_box_tag("genres[#{genre}]", 1, @selected_genres.include?(genre),
      :class => "checkbox") %>
    </label>
  <% end %><br>
  <%= submit_tag("SHOW ME THE DROP", :class =>"genre-form-submit-button") %>
<% end %>
<!--<div id="video_title"><h2><%= @random_song.title %></h2></div>-->
<div id="video"><%= youtube_video @url %></div>
<br />
<%= link_to 'New song!', new_song_path %>
<%= link_to 'Dead link?', @random_song, confirm: 'Are you sure?', method: :delete %>