<p id="notice"><%= notice %></p>
<div class="left-container">
  <h2>
    <%= link_to @song.title, @song.url, :id => "song-link" %>
  </h2>

  <h3>
    <b>Genre:</b>
    <%= @song.genre.capitalize %>
  </h3>
  <h3>
    <b>Drop Time:</b>
    <%= @song.startTime.to_i / 60 %>:<%= @song.startTime.to_i % 60 %>
  </h3>
  <%= link_to 'Back', songs_path, :class => "back-button" %>
</div>
<div class="right-container">
  <div class="video"><%= render :partial => '\video', :locals => { :url => @song.url } %></div>
</div>

